<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Ticket</title>
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="mobilestyle1.css">
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <marquee behavior="" direction="">this is where the prices will display</marquee>
    
    <div class="wrapper">
    
    <div class="menu_list" id="sidebar">

        <header>
            <a href="index.html"> <img src="images/logo.png" alt=""></a>

            <span id="times" onclick="closeMenu()">&times;</span>

        </header>

        <div class="profile_info">

            <h3>ACCOUNT BALANCE</h3>
            
            <div class="usd_balance" style="color: var(--blue);font-weight: bold;">
                50.00 USD (Deposit Wallet)
            </div>

            <div class="btc_balance">
                0.00 USD (Interest Wallet)
            </div>

            <div class="transact">
                <a href="#" id="deposit">Deposit</a>

                <a href="#" id="withdraw">Withdraw</a>
            </div>
        </div>



        <div class="dashmenu">
            <div class="dash-imgcon">
                <ul>
                    <div class="dash-imgcon101">
                        <li><img src="images/dashboard.png" alt=""><a href="dashboard.html">Dashboard</a></li>
                    </div>
                    <div class="dash-imgcon101">
                        <li><img src="images/investment.png" alt=""><a href="investments.html">Investments</a></li>
                    </div>
                    <div class="dash-imgcon101">
                        <li><img src="images/wallet.png" alt=""><a href="deposit.html">Deposit</a></li>
                    </div>
                    <div class="dash-imgcon101">
                        <li><img src="images/withdraw.png" alt=""><a href="">Withdraw</a></li>
                    </div>
                    <div class="dash-imgcon101">
                        <li><img src="images/balance-transfer.png" alt=""><a href="">Transfer Balance</a></li>
                    </div>
                    <div class="dash-imgcon101">
                        <li><img src="images/transaction.png" alt=""><a href="transactions.html">Transactions</a></li>
                    </div>
                    <div class="dash-imgcon101">
                        <li><img src="images/referral.png" alt=""><a href="referral.html">Referrals</a></li>
                    </div>
                    <div class="dash-imgcon101">
                        <li><img src="images/ticket.png" alt=""><a href="supportticket.html">Support Ticket</a></li>
                    </div>
                    <div class="dash-imgcon101">
                        <li><img src="images/2fa.png" alt=""><a href="">2FA</a></li>
                    </div>
                    <div class="dash-imgcon101">
                        <li><img src="images/profile.png" alt=""><a href="profile.html">Profile</a></li>
                    </div>
                    <div class="dash-imgcon101">
                        <li><img src="images/password.png" alt=""><a href="password.html">Change Password</a></li>
                    </div>
                    <div class="dash-imgcon101">
                        <li><img src="images/logout.png" alt=""><a href="">Logout</a></li>
                    </div>
                </ul>
            </div>
        </div>
        
    </div>




    
    
    <main>
        <header>
            <div class="menu">
                <span id="menu" onclick="openMenu()">&#9776;</span>
            </div>
    
            <h2>User Dashboard</h2>
            
            <div class="username">
                <p>username</p>
                <i class="fa-solid fa-circle-user fa-2xl" style="color: #3371db;"></i>
            </div>
        </header>
<!-- dashboard ends here -->

<form action="">
    <div class="openticket-cont">
        <h1>Open Ticket</h1>
        <div class="openticket1">
            <div class="openticket101">
                <div class="ticket-detail1">
                    <label for="">Name <span class="aster">*</span></label>
                    <input type="text" placeholder="" required >
                </div>
                <div class="ticket-detail1">
                    <label for="">Email Address <span class="aster">*</span></label>
                    <input type="email" placeholder="" required>

                </div>
            </div>

            <div class="openticket101 ticket-detail12">
                <div class="ticket-detail1">
                    <label for="">Subject <span class="aster">*</span></label>
                    <input type="text" placeholder="" required>

                </div>
                <div class="ticket-detail1 ticket-detail123 ">
                    <label for="">Priority<span class="aster">*</span></label>
                    <select name="" id="">
                        <option value="">High</option>
                        <option value="">Medium</option>
                        <option value="">Low</option>
                    </select>

                </div>
            </div>

            <div class="openticket101">
                <div class="ticket-detail1">
                    <label for="">Message <span class="aster">*</span></label>
                    <textarea name="" id="" cols="130" rows="60"></textarea>

                </div>

            </div>
            <div class="attach-tick">
                <h3>Attachments <span class="aster">Max 5 files can be uploaded. Maximum upload size is 256MB</span></h3>

                <div class="attach-tick1">
                    <input type="file" name="" id="">
                    <p>Allowed File Extensions: .jpg, .jpeg, .png, .pdf, .doc, .docx</p>

                </div>
                <div class="button-icn">
                     <button type="submit"><i class="fa-solid fa-paper-plane"></i> Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>




</body>
</html>