{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link rel="stylesheet" href="{% static 'mobilestyle1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
</head>
<body>

    <style>

@media only screen and (min-width: 321px) and (max-width: 844px){

    .pass-change{
        width: 70%;
    }

    .pass-change .passchange111 input{
        width: 100%;
    }


}
    

        .alert-error {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }
        .alert-success {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
    </style>

    <div class="wrapper">
    
        <div class="menu_list" id="sidebar">

            <header>
                <a href="{% url "index" %}"> <img src="{% static 'images/logo.png' %}" alt=""></a>
    
                <span id="times" onclick="closeMenu()">&times;</span>
    
            </header>
    
            <div class="profile_info">

                <h3>ACCOUNT BALANCE</h3>
                
                <div class="usd_balance" style="color: var(--blue);font-weight: bold;">
                    {{ total_deposits }} USD (Deposit Wallet)
                </div>
    
                <div class="btc_balance">
                    {{ total_profits }} USD (Interest Wallet)
                </div>
    
                <div class="transact">
                    <a href="{% url "create-deposit" %}" id="deposit">Deposit</a>
    
                    <a href="#" id="withdraw" onclick="alert('This function is not available yet!');">Withdraw</a>
                </div>
            </div>
    
    
    
            <div class="dashmenu">
                <div class="dash-imgcon">
                    <ul>
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/dashboard.png' %}" alt=""><a href="{% url "dashboard" %}">Dashboard</a></li>
                        </div>
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/investment.png' %}" alt=""><a href="{% url "investment" %}">Investments</a></li>
                        </div>
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/wallet.png' %}" alt=""><a href="{% url "create-deposit" %}">Deposit</a></li>
                        </div>
                        <!--
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/withdraw.png' %}" alt=""><a href="withdraw.html">Withdraw</a></li>
                        </div>
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/balance-transfer.png' %}" alt=""><a href="transfer_balance.html">Transfer Balance</a></li>
                        </div>
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/transaction.png' %}" alt=""><a href="transactions.html">Transactions</a></li>
                        </div>
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/referral.png' %}" alt=""><a href="referral.html">Referrals</a></li>
                        </div>
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/ticket.png' %}" alt=""><a href="supportticket.html">Support Ticket</a></li>
                        </div>
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/2fa.png' %}" alt=""><a href="">2FA</a></li>
                        </div>
                        -->
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/profile.png' %}" alt=""><a href="{% url "profile" %}">Profile</a></li>
                        </div>
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/password.png' %}" alt=""><a href="{% url "change_password" %}">Change Password</a></li>
                        </div>
                        <div class="dash-imgcon101">
                            <li><img src="{% static 'images/logout.png' %}" alt=""><a href="{% url "logout" %}">Logout</a></li>
                        </div>
                    </ul>
                </div>
            </div>
            
        </div>    


        <style>
            @media all and (max-width:320px){
                @media all and (max-width:768px){
                    .pass-change{
                        width: 75%;
                    }
                }
            }
        </style>




    
    
    <main>
        <header class="coinmarketcap" style="width: 95%; overflow: hidden;">
            <div id="coinmarketcap-widget-marquee" coins="1,1027,825" currency="USD" theme="light" transparent="false" show-symbol-logo="true"></div>
        </header>
        <header>
            <div class="menu">
                <span id="menu" onclick="openMenu()">&#9776;</span>
            </div>
    
            <h2>{{ user.username }}'s Dashboard</h2>
            
            <div class="username">
                <i class="fa-solid fa-circle-user fa-2xl" style="color: #3371db;"></i>
                <span>Hello {{ user.username }}</span>
            </div>
        </header>
<!-- dashboard ends here -->

        
        <form method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <strong>{{ message.tags }}!</strong> {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            
            <div class="pass-change">
                <div class="passchange111">
                    <label for="Current Password">Current Password <span>*</span></label>
                    <input type="password" name="old_password" required>              
                </div>
                <div class="passchange111">
                    <label for=" Password"> Password <span>*</span></label>
                    <input type="password" name="new_password1" required>              
                </div>
                <div class="passchange111">
                    <label for="Confirm Password" >Confirm Password <span>*</span></label>
                    <input type="password" name="new_password2" required>              
                </div>
                <div class="passchange111 passs-btn">
                    <button type="submit">SUBMIT</button>
                </div>    
            </div>
            
        </form>
    </main>    
    </body> 
    <script src="{% static 'script.js' %}"></script>
</html>
